In [6]:
import pandas as pd

In [8]:
data=pd.read_csv("dataset.csv")

In [9]:
data

     sky   air humidity    wind water forecast enjoy sport
0  sunny  warm   normal  strong  warm     same         yes
1  sunny  warm     high  strong  warm     same         yes
2  rainy  cold     high  strong  warm   change          no
3  sunny  warm     high  strong  cool   change         yes

In [26]:
X = data.iloc[:, : -1].values

In [27]:
Y=data.iloc[:,-1].values

In [28]:
for i in range(len(Y)):
    if Y[i].strip().lower() == 'yes':
        S = X[i].copy()
        break

In [29]:
G = [['?' for _ in range(len(S))]]
# Learning
for i in range(len(X)):

    if Y[i].strip().lower() == 'yes':
        for j in range(len(S)):
            if X[i][j] != S[j]:
                S[j] = '?'
        G = [g for g in G if all(g[k] == '?' or g[k] == S[k] for k in range(len(S)))]

    else:
        new_G = []
        for g in G:
            for j in range(len(S)):
                if g[j] == '?' and S[j] != X[i][j]:
                    temp = g.copy()
                    temp[j] = S[j]
                    if temp not in new_G:
                        new_G.append(temp)
        if new_G:
            G = new_G

print("Final S:", S)
print("Final G:", G)

Final S: ['sunny' 'warm' '?' 'strong' '?' '?']
Final G: [['sunny', '?', '?', '?', '?', '?'], ['?', 'warm', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?']]